html {
    background-color:#8eb7a0;
    color:rgb(56, 56, 56);
}

.square-list{
    list-style-type: square;
}

.upper-alpha{
    list-style-type: upper-alpha;
}
.nav{
    list-style-type: none;
    background-color: pink;
    padding: 20px;
    margin: 35px;
    margin-bottom: 50px; 
}